{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}
<div class="container">
  <form method="POST">
  {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">Log In</legend>
      {{form}}
    </fieldset>
    <div class="form-group">
      <button href="" class="btn btn-outline-info" type="submit">
        Sign In
      </button>
    </div>
  </form>
  {% if messages %}
    {% for message in messages %}
      <p {% if message.tags %} class="alert alert-
      {{message.tags}} my-5" {% endif %}>{{message}}</p>
    {% endfor %}
  {% endif %}
  <div class="border-top pt-3">
    <small class="text-muted">Need an Account?
      <a class="ml-2" href="{% url 'register' %}">Create an Account</a>
    </small>
  </div>
</div>
{% endblock %}